form {
    margin: 2px 2%;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 5px 10px;
}

form ul {
    list-style: none;
    padding: 5px 10px;
}

form ul li {
    padding: 5px;
    margin-bottom: 2px;
}

form ul li label {
    padding: 4px;
    border: 1px solid var(--border);
    border-radius: 8px;
    background: var(--secondary-bg);
    box-shadow: 2px 2px 4px black;
    user-select: none;
}

form ul li label input {
    display: none;
}
/* Selectors Level 4. Pseudo-classe che filtra quei label che contengono al loro interno un elemento <input> attualmente selezionato (cioè con lo stato checked) */
form ul li label:has(input:checked) {
    background: var(--brand-bg);
    color: var(--brand-fg);
}

form div {
    position: sticky;/* posizionato staticamente finché non raggiunge un certo offset rispetto al viewport (o al contenitore di riferimento), dopodiché si "incolla" e rimane visibile (simile a fixed) fino a quando il suo contenitore non scorre fuori dalla viewport */
    bottom: 25px;
    right: 25px;
    z-index: 1;
    display: flex;/* regole Flexbox */
    justify-content: center;/* il pulsante o gli input dentro il div saranno centrati orizzontalmente dentro quel div */
}

form div input {
    padding: 5px;
    background: var(--brand-bg);
    color: var(--brand-fg);
    border-radius: 8px;
    font-size: medium;
    box-shadow: 2px 2px 4px black;
}
